.list {
	background-color: white;
}

.item {
	padding: 12px;
	border: none;
}

.item-color {
	border: 1px solid black;
	width: 24px;
	margin-right: 8px;
}

.item-index {
	width: 64px;
	text-align: right;
}

.item-date {
	color: #6060B0;
	font-style: italic;
	font-size: 10pt;
	padding: 12px 0px 4px;
}

.bottom-background{
	background-image: url('../img/fadedback_blue.png');
	background-repeat: repeat-x;
}

.topBackground{
	background-image: url('../img/fadedback_blue_inverse.png');
	background-repeat: repeat-x;
}
.title-photo{
	font-size: 20pt;
	color: #6060B0;
	padding: 12px 0px 4px;
	margin-left: 10px;
}
.deflist{
	background-color: white;
}
.addDialogTitle{
	font-size: 16pt;
	color: #6060B0;
	margin-bottom:5px;
	border-bottom: 1px solid black;
}
.imageLogo{
	height:50px;
	margin-left:5px;
}
.modal_about{
	background-color: snow;
}
.aboutimg{
	height:45;
}
.aboutver{
	color: #4D4D4D;
	font-size:10pt;
}
.abouth1{
	font-size:14pt;
}
.abouttxt{
	font-size:11pt;
}

.robotoAnimated {
	width: 247px;
	height: 253px;
	-webkit-box-sizing: border-box;
	background-image: url('../img/Robot.png');
}

@media (-webkit-min-device-pixel-ratio:1.5) {

	.robotoAnimated {
		background-image: url(../img/Robot.png);
		background-size: 253px 759px;
	}
}